.card__title{
    margin-top: 8px;
    margin-bottom: 12px;
    color: #475569;
    line-height: 1.5;
}

.card__text {
  margin-top: 8px;
  margin-bottom: 12px;
  color: #475569;
  line-height: 1.5;
}
